USE [master]
GO
/****** Object:  Database [RecruitmentSystem]    Script Date: 30/12/2025 4:08:47 AM ******/
CREATE DATABASE [RecruitmentSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RecruitmentSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RecruitmentSystem.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RecruitmentSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RecruitmentSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RecruitmentSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RecruitmentSystem]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 30/12/2025 4:08:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 30/12/2025 4:08:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK__Admins__719FE4E85095AB1B] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 30/12/2025 4:08:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[ApplicationID] [int] IDENTITY(1,1) NOT NULL,
	[JobID] [int] NOT NULL,
	[StudentID] [int] NOT NULL,
	[CoverLetter] [nvarchar](max) NULL,
	[ResumeUrl] [nvarchar](512) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[AppliedAt] [datetime2](7) NULL,
	[ReviewedAt] [datetime2](7) NULL,
 CONSTRAINT [PK__Applicat__C93A4F7913F8B7FF] PRIMARY KEY CLUSTERED 
(
	[ApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApprovalHistory]    Script Date: 30/12/2025 4:08:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApprovalHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JobId] [int] NOT NULL,
	[Action] [nvarchar](50) NOT NULL,
	[ActionDate] [datetime] NOT NULL,
	[AdminId] [int] NOT NULL,
 CONSTRAINT [PK__Approval__3214EC077D38655D] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 30/12/2025 4:08:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[CompanyID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[TaxCode] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Website] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[LogoUrl] [nvarchar](512) NULL,
	[Address] [nvarchar](max) NULL,
	[Verified] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsLocked] [bit] NOT NULL,
 CONSTRAINT [PK__Companie__2D971C4CAA3C5901] PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyEvaluations]    Script Date: 30/12/2025 4:08:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyEvaluations](
	[EvaluationID] [int] IDENTITY(1,1) NOT NULL,
	[InternshipID] [int] NOT NULL,
	[EvaluationDate] [datetime2](7) NOT NULL,
	[CriteriaCompliance] [decimal](3, 1) NOT NULL,
	[CriteriaTaskPerformance] [decimal](3, 1) NOT NULL,
	[CriteriaRelationship] [decimal](3, 1) NOT NULL,
	[Score] [int] NOT NULL,
	[Comments] [nvarchar](1000) NULL,
 CONSTRAINT [PK_CompanyEvaluations] PRIMARY KEY CLUSTERED 
(
	[EvaluationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyLegalBases]    Script Date: 30/12/2025 4:08:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyLegalBases](
	[CompanyID] [int] NOT NULL,
	[LegalID] [int] NOT NULL,
	[ComplianceStatus] [nvarchar](20) NOT NULL,
	[VerifiedDate] [date] NULL,
	[Notes] [nvarchar](255) NULL,
 CONSTRAINT [PK_CompanyLegalBases] PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC,
	[LegalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExperienceLevels]    Script Date: 30/12/2025 4:08:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExperienceLevels](
	[LevelID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Experien__09F03C06B75D802C] PRIMARY KEY CLUSTERED 
(
	[LevelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InternshipLegalBases]    Script Date: 30/12/2025 4:08:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InternshipLegalBases](
	[InternshipID] [int] NOT NULL,
	[LegalID] [int] NOT NULL,
	[ComplianceStatus] [nvarchar](20) NOT NULL,
	[AppliedDate] [date] NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_InternshipLegalBases] PRIMARY KEY CLUSTERED 
(
	[InternshipID] ASC,
	[LegalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Internships]    Script Date: 30/12/2025 4:08:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Internships](
	[InternshipId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[CompanyId] [int] NOT NULL,
	[SupervisorId] [int] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[InternshipReportUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_Internships] PRIMARY KEY CLUSTERED 
(
	[InternshipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Interviews]    Script Date: 30/12/2025 4:08:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Interviews](
	[InterviewID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationID] [int] NOT NULL,
	[InterviewType] [nvarchar](20) NOT NULL,
	[StartTime] [datetime2](7) NOT NULL,
	[EndTime] [datetime2](7) NOT NULL,
	[Location] [nvarchar](max) NULL,
	[OnlineLink] [nvarchar](512) NULL,
	[Notes] [nvarchar](max) NULL,
	[Result] [nvarchar](20) NULL,
 CONSTRAINT [PK__Intervie__C97C5832B9354D02] PRIMARY KEY CLUSTERED 
(
	[InterviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobPostingLegalBases]    Script Date: 30/12/2025 4:08:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobPostingLegalBases](
	[JobID] [int] NOT NULL,
	[LegalID] [int] NOT NULL,
	[ComplianceStatus] [nvarchar](20) NOT NULL,
	[CheckedDate] [date] NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_JobPostingLegalBases] PRIMARY KEY CLUSTERED 
(
	[JobID] ASC,
	[LegalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobPostings]    Script Date: 30/12/2025 4:08:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobPostings](
	[JobID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyID] [int] NOT NULL,
	[JobTypeID] [int] NOT NULL,
	[LevelID] [int] NOT NULL,
	[LocationID] [int] NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Requirements] [nvarchar](max) NOT NULL,
	[Benefits] [nvarchar](max) NULL,
	[SalaryRange] [nvarchar](100) NULL,
	[ApplicationDeadline] [datetime2](7) NOT NULL,
	[Vacancies] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsApproved] [bit] NULL,
 CONSTRAINT [PK__JobPosti__056690E2335C22CF] PRIMARY KEY CLUSTERED 
(
	[JobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobSkills]    Script Date: 30/12/2025 4:08:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobSkills](
	[JobID] [int] NOT NULL,
	[SkillID] [int] NOT NULL,
 CONSTRAINT [PK__JobSkill__689C99FC8E1DCDF3] PRIMARY KEY CLUSTERED 
(
	[JobID] ASC,
	[SkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobTypes]    Script Date: 30/12/2025 4:08:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobTypes](
	[JobTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__JobTypes__E1F4624D6814BF47] PRIMARY KEY CLUSTERED 
(
	[JobTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LegalBases]    Script Date: 30/12/2025 4:08:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LegalBases](
	[LegalID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[ReferenceCode] [nvarchar](max) NULL,
	[IssuedDate] [datetime2](7) NULL,
	[IssuedBy] [nvarchar](max) NULL,
	[Category] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[DocumentUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_LegalBases] PRIMARY KEY CLUSTERED 
(
	[LegalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 30/12/2025 4:08:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[LocationID] [int] IDENTITY(1,1) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[Country] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__Location__E7FEA4775C7DA5D7] PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 30/12/2025 4:08:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[UserType] [nvarchar](20) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[IsRead] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK__Notifica__20CF2E32B7D83E7F] PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skills]    Script Date: 30/12/2025 4:08:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills](
	[SkillID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK__Skills__DFA091E7F4A7D538] PRIMARY KEY CLUSTERED 
(
	[SkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 30/12/2025 4:08:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentCode] [nvarchar](20) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[AvatarUrl] [nvarchar](512) NULL,
	[DateOfBirth] [date] NULL,
	[Phone] [nvarchar](20) NULL,
	[GPA] [decimal](3, 2) NULL,
	[GraduationYear] [int] NULL,
	[GitHubProfile] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsLocked] [bit] NOT NULL,
 CONSTRAINT [PK__Students__32C52A796631424E] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentSkills]    Script Date: 30/12/2025 4:08:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentSkills](
	[StudentID] [int] NOT NULL,
	[SkillID] [int] NOT NULL,
 CONSTRAINT [PK__StudentS__5F3F2367CC559E16] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC,
	[SkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupervisorEvaluations]    Script Date: 30/12/2025 4:08:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupervisorEvaluations](
	[EvaluationID] [int] IDENTITY(1,1) NOT NULL,
	[InternshipID] [int] NOT NULL,
	[EvaluationDate] [datetime2](7) NOT NULL,
	[Score] [int] NOT NULL,
	[Comments] [nvarchar](1000) NULL,
 CONSTRAINT [PK_SupervisorEvaluations] PRIMARY KEY CLUSTERED 
(
	[EvaluationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supervisors]    Script Date: 30/12/2025 4:08:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supervisors](
	[SupervisorId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Position] [nvarchar](100) NOT NULL,
	[Department] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Supervisors] PRIMARY KEY CLUSTERED 
(
	[SupervisorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WeeklyReports]    Script Date: 30/12/2025 4:08:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WeeklyReports](
	[ReportId] [int] IDENTITY(1,1) NOT NULL,
	[InternshipId] [int] NOT NULL,
	[WeekNumber] [int] NOT NULL,
	[ReportDate] [datetime2](7) NOT NULL,
	[Content] [nvarchar](4000) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[SupervisorComment] [nvarchar](1000) NULL,
	[ReviewedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_WeeklyReports] PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251222214332_InitialCreate', N'9.0.2')
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([AdminID], [Email], [PasswordHash], [FullName], [CreatedAt]) VALUES (1, N'khoacntt@gmail.com', N'@Lo012345', N'Khoa CNTT', CAST(N'2025-12-23T04:45:52.6200000' AS DateTime2))
INSERT [dbo].[Admins] ([AdminID], [Email], [PasswordHash], [FullName], [CreatedAt]) VALUES (2, N'khoaqtkd@gmail.com', N'@Lo012345', N'Khoa QTKD', CAST(N'2025-12-23T04:46:23.7333333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Applications] ON 

INSERT [dbo].[Applications] ([ApplicationID], [JobID], [StudentID], [CoverLetter], [ResumeUrl], [Status], [AppliedAt], [ReviewedAt]) VALUES (19, 0, 3, NULL, N'/resumes/2280601001.pdf', N'approved', CAST(N'2025-12-23T05:43:46.8400000' AS DateTime2), NULL)
INSERT [dbo].[Applications] ([ApplicationID], [JobID], [StudentID], [CoverLetter], [ResumeUrl], [Status], [AppliedAt], [ReviewedAt]) VALUES (20, 0, 4, NULL, N'/resumes/2280601002.pdf', N'pending', CAST(N'2025-12-23T05:43:46.8400000' AS DateTime2), NULL)
INSERT [dbo].[Applications] ([ApplicationID], [JobID], [StudentID], [CoverLetter], [ResumeUrl], [Status], [AppliedAt], [ReviewedAt]) VALUES (21, 1, 5, NULL, N'/resumes/2280601003.pdf', N'approved', CAST(N'2025-12-23T05:43:46.8400000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Applications] OFF
GO
SET IDENTITY_INSERT [dbo].[ApprovalHistory] ON 

INSERT [dbo].[ApprovalHistory] ([Id], [JobId], [Action], [ActionDate], [AdminId]) VALUES (1, 128, N'Approved', CAST(N'2025-12-23T13:34:14.747' AS DateTime), 1)
INSERT [dbo].[ApprovalHistory] ([Id], [JobId], [Action], [ActionDate], [AdminId]) VALUES (2, 129, N'Approved', CAST(N'2025-12-23T18:25:06.273' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[ApprovalHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Companies] ON 

SET IDENTITY_INSERT [dbo].[Companies] OFF
GO
SET IDENTITY_INSERT [dbo].[CompanyEvaluations] ON 

INSERT [dbo].[CompanyEvaluations] ([EvaluationID], [InternshipID], [EvaluationDate], [CriteriaCompliance], [CriteriaTaskPerformance], [CriteriaRelationship], [Score], [Comments]) VALUES (1, 0, CAST(N'2026-02-10T05:44:31.1800000' AS DateTime2), CAST(6.0 AS Decimal(3, 1)), CAST(7.0 AS Decimal(3, 1)), CAST(2.0 AS Decimal(3, 1)), 1, N'Sinh viên đáp ứng yêu cầu công việc, có tinh thần học hỏi và phối hợp tốt với tập thể.')
INSERT [dbo].[CompanyEvaluations] ([EvaluationID], [InternshipID], [EvaluationDate], [CriteriaCompliance], [CriteriaTaskPerformance], [CriteriaRelationship], [Score], [Comments]) VALUES (2, 1, CAST(N'2026-02-10T05:44:31.1800000' AS DateTime2), CAST(6.0 AS Decimal(3, 1)), CAST(9.0 AS Decimal(3, 1)), CAST(3.0 AS Decimal(3, 1)), 7, N'Sinh viên đáp ứng yêu cầu công việc, có tinh thần học hỏi và phối hợp tốt với tập thể.')
INSERT [dbo].[CompanyEvaluations] ([EvaluationID], [InternshipID], [EvaluationDate], [CriteriaCompliance], [CriteriaTaskPerformance], [CriteriaRelationship], [Score], [Comments]) VALUES (3, 2, CAST(N'2026-02-10T05:44:31.1800000' AS DateTime2), CAST(2.0 AS Decimal(3, 1)), CAST(2.0 AS Decimal(3, 1)), CAST(3.0 AS Decimal(3, 1)), 1, N'Sinh viên đáp ứng yêu cầu công việc, có tinh thần học hỏi và phối hợp tốt với tập thể.')
SET IDENTITY_INSERT [dbo].[CompanyEvaluations] OFF
GO
SET IDENTITY_INSERT [dbo].[ExperienceLevels] ON 

INSERT [dbo].[ExperienceLevels] ([LevelID], [Name]) VALUES (2, N'1–3 năm')
INSERT [dbo].[ExperienceLevels] ([LevelID], [Name]) VALUES (3, N'3–5 năm')
INSERT [dbo].[ExperienceLevels] ([LevelID], [Name]) VALUES (1, N'Dưới 1 năm')
SET IDENTITY_INSERT [dbo].[ExperienceLevels] OFF
GO
SET IDENTITY_INSERT [dbo].[Internships] ON 

INSERT [dbo].[Internships] ([InternshipId], [StudentId], [CompanyId], [SupervisorId], [StartDate], [EndDate], [Status], [InternshipReportUrl]) VALUES (0, 3, 3, 1, CAST(N'2025-12-16T05:44:31.1800000' AS DateTime2), CAST(N'2026-02-10T05:44:31.1800000' AS DateTime2), N'Đang thực tập', NULL)
INSERT [dbo].[Internships] ([InternshipId], [StudentId], [CompanyId], [SupervisorId], [StartDate], [EndDate], [Status], [InternshipReportUrl]) VALUES (1, 5, 3, 2, CAST(N'2025-12-16T05:44:31.1800000' AS DateTime2), CAST(N'2026-02-10T05:44:31.1800000' AS DateTime2), N'Đang thực tập', NULL)
INSERT [dbo].[Internships] ([InternshipId], [StudentId], [CompanyId], [SupervisorId], [StartDate], [EndDate], [Status], [InternshipReportUrl]) VALUES (2, 6, 3, 3, CAST(N'2025-12-16T05:44:31.1800000' AS DateTime2), CAST(N'2026-02-10T05:44:31.1800000' AS DateTime2), N'Đang thực tập', NULL)
SET IDENTITY_INSERT [dbo].[Internships] OFF
GO
SET IDENTITY_INSERT [dbo].[Interviews] ON 

INSERT [dbo].[Interviews] ([InterviewID], [ApplicationID], [InterviewType], [StartTime], [EndTime], [Location], [OnlineLink], [Notes], [Result]) VALUES (0, 101, N'online', CAST(N'2025-12-23T13:35:00.0000000' AS DateTime2), CAST(N'2025-12-23T07:35:00.0000000' AS DateTime2), NULL, N'https://ASD', NULL, N'pending')
INSERT [dbo].[Interviews] ([InterviewID], [ApplicationID], [InterviewType], [StartTime], [EndTime], [Location], [OnlineLink], [Notes], [Result]) VALUES (1, 102, N'online', CAST(N'2025-12-23T18:30:00.0000000' AS DateTime2), CAST(N'2025-12-23T12:30:00.0000000' AS DateTime2), NULL, N'https://www.youtube.com/watch?v=JxYn_Chrc3U&t=417s', N'ABC', N'pending')
SET IDENTITY_INSERT [dbo].[Interviews] OFF
GO
SET IDENTITY_INSERT [dbo].[JobPostings] ON 

GO
SET IDENTITY_INSERT [dbo].[JobPostings] OFF
GO
INSERT [dbo].[JobSkills] ([JobID], [SkillID]) VALUES (0, 7)
INSERT [dbo].[JobSkills] ([JobID], [SkillID]) VALUES (19, 7)
INSERT [dbo].[JobSkills] ([JobID], [SkillID]) VALUES (20, 7)
GO
SET IDENTITY_INSERT [dbo].[JobTypes] ON 

INSERT [dbo].[JobTypes] ([JobTypeID], [Name]) VALUES (1, N'Full-time')
INSERT [dbo].[JobTypes] ([JobTypeID], [Name]) VALUES (5, N'Hybrid')
INSERT [dbo].[JobTypes] ([JobTypeID], [Name]) VALUES (3, N'Internship')
SET IDENTITY_INSERT [dbo].[JobTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[LegalBases] ON 

INSERT [dbo].[LegalBases] ([LegalID], [Title], [ReferenceCode], [IssuedDate], [IssuedBy], [Category], [Description], [DocumentUrl]) VALUES (5, N'Luật Giáo dục 2019', N'Luật số 43/2019/QH14', CAST(N'2019-06-14T00:00:00.0000000' AS DateTime2), N'Quốc hội', N'Giáo dục', N'Quy định về hệ thống giáo dục quốc dân, đào tạo đại học và tổ chức thực tập cho sinh viên; là căn cứ pháp lý cho hoạt động thực tập tốt nghiệp.', N'https://thuvienphapluat.vn/van-ban/Giao-duc/Luat-Giao-duc-2019-388303.aspx')
INSERT [dbo].[LegalBases] ([LegalID], [Title], [ReferenceCode], [IssuedDate], [IssuedBy], [Category], [Description], [DocumentUrl]) VALUES (6, N'Luật Công nghệ thông tin', N'Luật số 67/2006/QH11', CAST(N'2006-06-29T00:00:00.0000000' AS DateTime2), N'Quốc hội', N'Công nghệ thông tin', N'Quy định về hoạt động ứng dụng, phát triển và quản lý CNTT; là cơ sở pháp lý cho việc xây dựng và vận hành hệ thống phần mềm.', N'https://thuvienphapluat.vn/van-ban/Cong-nghe-thong-tin/Luat-Cong-nghe-thong-tin-2006-16615.aspx')
INSERT [dbo].[LegalBases] ([LegalID], [Title], [ReferenceCode], [IssuedDate], [IssuedBy], [Category], [Description], [DocumentUrl]) VALUES (7, N'Luật An ninh mạng', N'Luật số 24/2018/QH14', CAST(N'2018-06-12T00:00:00.0000000' AS DateTime2), N'Quốc hội', N'An ninh – Bảo mật', N'Quy định về bảo vệ an ninh quốc gia trên không gian mạng; làm căn cứ cho việc bảo mật thông tin sinh viên và doanh nghiệp.', N'https://thuvienphapluat.vn/van-ban/Vi-pham-hanh-chinh/Luat-An-ninh-mang-2018-387282.aspx')
SET IDENTITY_INSERT [dbo].[LegalBases] OFF
GO
SET IDENTITY_INSERT [dbo].[Locations] ON 

INSERT [dbo].[Locations] ([LocationID], [City], [Country]) VALUES (4, N'Cần Thơ', N'Vietnam')
INSERT [dbo].[Locations] ([LocationID], [City], [Country]) VALUES (3, N'Đà Nẵng', N'Vietnam')
INSERT [dbo].[Locations] ([LocationID], [City], [Country]) VALUES (2, N'Hà Nội', N'Vietnam')
SET IDENTITY_INSERT [dbo].[Locations] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([NotificationID], [UserID], [UserType], [Message], [IsRead], [CreatedAt]) VALUES (1, 11, N'company', N'Bài đăng ''VNG need you'' của bạn đang đợi admin duyệt.', 0, CAST(N'2025-12-23T13:11:08.2356321' AS DateTime2))
INSERT [dbo].[Notifications] ([NotificationID], [UserID], [UserType], [Message], [IsRead], [CreatedAt]) VALUES (2, 11, N'company', N'Bài đăng ''VNG need you'' của bạn đã được duyệt.', 0, CAST(N'2025-12-23T13:34:14.7575999' AS DateTime2))
INSERT [dbo].[Notifications] ([NotificationID], [UserID], [UserType], [Message], [IsRead], [CreatedAt]) VALUES (3, 103, N'student', N'Bạn đã nộp đơn ứng tuyển cho vị trí VNG need you tại VNG.', 0, CAST(N'2025-12-23T13:34:50.1547577' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Skills] ON 

INSERT [dbo].[Skills] ([SkillID], [Name], [Description]) VALUES (7, N'C#', N'Nhóm kỹ năng: Ngôn ngữ lập trình. Ứng dụng thực tế trong tuyển dụng và quản lý thực tập.')
INSERT [dbo].[Skills] ([SkillID], [Name], [Description]) VALUES (8, N'ASP.NET Core', N'Nhóm kỹ năng: Framework. Ứng dụng thực tế trong tuyển dụng và quản lý thực tập.')
INSERT [dbo].[Skills] ([SkillID], [Name], [Description]) VALUES (9, N'Entity Framework Core', N'Nhóm kỹ năng: ORM. Ứng dụng thực tế trong tuyển dụng và quản lý thực tập.')
GO
SET IDENTITY_INSERT [dbo].[Skills] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([StudentID], [StudentCode], [PasswordHash], [FullName], [AvatarUrl], [DateOfBirth], [Phone], [GPA], [GraduationYear], [GitHubProfile], [CreatedAt], [UpdatedAt], [IsLocked]) VALUES (3, N'2280601001', N'@Lo012345', N'Nguyễn Minh Quân', NULL, CAST(N'2002-04-15' AS Date), N'0903123456', CAST(3.25 AS Decimal(3, 2)), 2025, N'https://github.com/nguyenminhquan', CAST(N'2025-12-23T05:36:55.0533333' AS DateTime2), CAST(N'2025-12-23T05:36:55.0533333' AS DateTime2), 0)
INSERT [dbo].[Students] ([StudentID], [StudentCode], [PasswordHash], [FullName], [AvatarUrl], [DateOfBirth], [Phone], [GPA], [GraduationYear], [GitHubProfile], [CreatedAt], [UpdatedAt], [IsLocked]) VALUES (4, N'2280601002', N'@Lo012345', N'Lê Hoàng Anh', NULL, CAST(N'2001-11-02' AS Date), N'0914235678', CAST(3.10 AS Decimal(3, 2)), 2024, NULL, CAST(N'2025-12-23T05:36:55.0533333' AS DateTime2), CAST(N'2025-12-23T05:36:55.0533333' AS DateTime2), 0)
INSERT [dbo].[Students] ([StudentID], [StudentCode], [PasswordHash], [FullName], [AvatarUrl], [DateOfBirth], [Phone], [GPA], [GraduationYear], [GitHubProfile], [CreatedAt], [UpdatedAt], [IsLocked]) VALUES (5, N'2280601003', N'@Lo012345', N'Trần Quốc Bảo', NULL, CAST(N'2002-07-21' AS Date), N'0987345621', CAST(2.85 AS Decimal(3, 2)), 2025, N'https://github.com/tranquocbao', CAST(N'2025-12-23T05:36:55.0533333' AS DateTime2), CAST(N'2025-12-23T05:36:55.0533333' AS DateTime2), 0)
GO
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
INSERT [dbo].[StudentSkills] ([StudentID], [SkillID]) VALUES (3, 12)
INSERT [dbo].[StudentSkills] ([StudentID], [SkillID]) VALUES (7, 12)
INSERT [dbo].[StudentSkills] ([StudentID], [SkillID]) VALUES (11, 12)
GO
SET IDENTITY_INSERT [dbo].[SupervisorEvaluations] ON 

INSERT [dbo].[SupervisorEvaluations] ([EvaluationID], [InternshipID], [EvaluationDate], [Score], [Comments]) VALUES (1, 0, CAST(N'2026-02-10T05:44:31.1800000' AS DateTime2), 8, N'Sinh viên có thái độ học tập nghiêm túc, hoàn thành tốt nhiệm vụ được giao.')
INSERT [dbo].[SupervisorEvaluations] ([EvaluationID], [InternshipID], [EvaluationDate], [Score], [Comments]) VALUES (2, 1, CAST(N'2026-02-10T05:44:31.1800000' AS DateTime2), 7, N'Sinh viên có thái độ học tập nghiêm túc, hoàn thành tốt nhiệm vụ được giao.')
INSERT [dbo].[SupervisorEvaluations] ([EvaluationID], [InternshipID], [EvaluationDate], [Score], [Comments]) VALUES (3, 2, CAST(N'2026-02-10T05:44:31.1800000' AS DateTime2), 7, N'Sinh viên có thái độ học tập nghiêm túc, hoàn thành tốt nhiệm vụ được giao.')
SET IDENTITY_INSERT [dbo].[SupervisorEvaluations] OFF
GO
SET IDENTITY_INSERT [dbo].[Supervisors] ON 

INSERT [dbo].[Supervisors] ([SupervisorId], [Name], [Email], [Phone], [Password], [Position], [Department]) VALUES (1, N'Trần Minh Đức', N'sup1@company.com', N'0909000001', N'hash', N'Team Lead', N'Backend')
INSERT [dbo].[Supervisors] ([SupervisorId], [Name], [Email], [Phone], [Password], [Position], [Department]) VALUES (2, N'Nguyễn Hải Long', N'sup2@company.com', N'0909000002', N'hash', N'Senior Dev', N'Frontend')
INSERT [dbo].[Supervisors] ([SupervisorId], [Name], [Email], [Phone], [Password], [Position], [Department]) VALUES (3, N'Lê Quốc Bảo', N'sup3@company.com', N'0909000003', N'hash', N'Architect', N'Cloud')
SET IDENTITY_INSERT [dbo].[Supervisors] OFF
GO
SET IDENTITY_INSERT [dbo].[WeeklyReports] ON 

INSERT [dbo].[WeeklyReports] ([ReportId], [InternshipId], [WeekNumber], [ReportDate], [Content], [Status], [SupervisorComment], [ReviewedAt]) VALUES (0, 0, 1, CAST(N'2025-12-16T05:44:31.1800000' AS DateTime2), N'Làm quen môi trường làm việc, tìm hiểu quy trình và công cụ sử dụng trong doanh nghiệp.', N'Đã duyệt', N'Báo cáo đầy đủ, tiến độ tốt.', CAST(N'2025-12-16T05:44:31.1800000' AS DateTime2))
INSERT [dbo].[WeeklyReports] ([ReportId], [InternshipId], [WeekNumber], [ReportDate], [Content], [Status], [SupervisorComment], [ReviewedAt]) VALUES (1, 0, 2, CAST(N'2025-12-23T05:44:31.1800000' AS DateTime2), N'Tham gia hỗ trợ nhóm dự án, thực hiện các nhiệm vụ đơn giản theo phân công.', N'Đã duyệt', N'Báo cáo đầy đủ, tiến độ tốt.', CAST(N'2025-12-23T05:44:31.1800000' AS DateTime2))
INSERT [dbo].[WeeklyReports] ([ReportId], [InternshipId], [WeekNumber], [ReportDate], [Content], [Status], [SupervisorComment], [ReviewedAt]) VALUES (2, 0, 3, CAST(N'2025-12-30T05:44:31.1800000' AS DateTime2), N'Bắt đầu đảm nhận các task độc lập, xử lý yêu cầu kỹ thuật mức cơ bản.', N'Đã duyệt', N'Báo cáo đầy đủ, tiến độ tốt.', CAST(N'2025-12-30T05:44:31.1800000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[WeeklyReports] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Admins__A9D1053400F486A2]    Script Date: 30/12/2025 4:08:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Admins__A9D1053400F486A2] ON [dbo].[Admins]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_ApplicationStatus]    Script Date: 30/12/2025 4:08:47 AM ******/
CREATE NONCLUSTERED INDEX [idx_ApplicationStatus] ON [dbo].[Applications]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Applications_StudentID]    Script Date: 30/12/2025 4:08:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_Applications_StudentID] ON [dbo].[Applications]
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UC_JobStudent]    Script Date: 30/12/2025 4:08:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UC_JobStudent] ON [dbo].[Applications]
(
	[JobID] ASC,
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ApprovalHistory_JobId]    Script Date: 30/12/2025 4:08:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_ApprovalHistory_JobId] ON [dbo].[ApprovalHistory]
(
	[JobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_CompanyName]    Script Date: 30/12/2025 4:08:47 AM ******/
CREATE NONCLUSTERED INDEX [idx_CompanyName] ON [dbo].[Companies]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Companie__12945A28F1C72148]    Script Date: 30/12/2025 4:08:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Companie__12945A28F1C72148] ON [dbo].[Companies]
(
	[TaxCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Companie__A9D105341070757D]    Script Date: 30/12/2025 4:08:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Companie__A9D105341070757D] ON [dbo].[Companies]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CompanyEvaluations_InternshipID]    Script Date: 30/12/2025 4:08:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_CompanyEvaluations_InternshipID] ON [dbo].[CompanyEvaluations]
(
	[InternshipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Experien__737584F69D146EA7]    Script Date: 30/12/2025 4:08:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Experien__737584F69D146EA7] ON [dbo].[ExperienceLevels]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Internships_CompanyId]    Script Date: 30/12/2025 4:08:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_Internships_CompanyId] ON [dbo].[Internships]
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Internships_StudentId]    Script Date: 30/12/2025 4:08:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_Internships_StudentId] ON [dbo].[Internships]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Internships_SupervisorId]    Script Date: 30/12/2025 4:08:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_Internships_SupervisorId] ON [dbo].[Internships]
(
	[SupervisorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Interviews_ApplicationID]    Script Date: 30/12/2025 4:08:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_Interviews_ApplicationID] ON [dbo].[Interviews]
(
	[ApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_JobTitle]    Script Date: 30/12/2025 4:08:47 AM ******/
CREATE NONCLUSTERED INDEX [idx_JobTitle] ON [dbo].[JobPostings]
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobPostings_CompanyID]    Script Date: 30/12/2025 4:08:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_JobPostings_CompanyID] ON [dbo].[JobPostings]
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobPostings_JobTypeID]    Script Date: 30/12/2025 4:08:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_JobPostings_JobTypeID] ON [dbo].[JobPostings]
(
	[JobTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobPostings_LevelID]    Script Date: 30/12/2025 4:08:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_JobPostings_LevelID] ON [dbo].[JobPostings]
(
	[LevelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobPostings_LocationID]    Script Date: 30/12/2025 4:08:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_JobPostings_LocationID] ON [dbo].[JobPostings]
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_JobSkills_SkillID]    Script Date: 30/12/2025 4:08:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_JobSkills_SkillID] ON [dbo].[JobSkills]
(
	[SkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__JobTypes__737584F62860435D]    Script Date: 30/12/2025 4:08:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__JobTypes__737584F62860435D] ON [dbo].[JobTypes]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_CityCountry]    Script Date: 30/12/2025 4:08:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UC_CityCountry] ON [dbo].[Locations]
(
	[City] ASC,
	[Country] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Skills__737584F6EF42AF77]    Script Date: 30/12/2025 4:08:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Skills__737584F6EF42AF77] ON [dbo].[Skills]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_StudentCode]    Script Date: 30/12/2025 4:08:47 AM ******/
CREATE NONCLUSTERED INDEX [idx_StudentCode] ON [dbo].[Students]
(
	[StudentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Students__1FC88604308920C0]    Script Date: 30/12/2025 4:08:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Students__1FC88604308920C0] ON [dbo].[Students]
(
	[StudentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentSkills_SkillID]    Script Date: 30/12/2025 4:08:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_StudentSkills_SkillID] ON [dbo].[StudentSkills]
(
	[SkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SupervisorEvaluations_InternshipID]    Script Date: 30/12/2025 4:08:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_SupervisorEvaluations_InternshipID] ON [dbo].[SupervisorEvaluations]
(
	[InternshipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Supervisors_Email]    Script Date: 30/12/2025 4:08:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Supervisors_Email] ON [dbo].[Supervisors]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WeeklyReports_InternshipId]    Script Date: 30/12/2025 4:08:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_WeeklyReports_InternshipId] ON [dbo].[WeeklyReports]
(
	[InternshipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Applications] ADD  DEFAULT (N'pending') FOR [Status]
GO
ALTER TABLE [dbo].[Applications] ADD  DEFAULT (getdate()) FOR [AppliedAt]
GO
ALTER TABLE [dbo].[Companies] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Verified]
GO
ALTER TABLE [dbo].[Companies] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Companies] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Interviews] ADD  DEFAULT (N'pending') FOR [Result]
GO
ALTER TABLE [dbo].[JobPostings] ADD  DEFAULT ((1)) FOR [Vacancies]
GO
ALTER TABLE [dbo].[JobPostings] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[JobPostings] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[JobPostings] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[JobPostings] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsApproved]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK__Applicati__JobID__6383C8BA] FOREIGN KEY([JobID])
REFERENCES [dbo].[JobPostings] ([JobID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK__Applicati__JobID__6383C8BA]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK__Applicati__Stude__6477ECF3] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK__Applicati__Stude__6477ECF3]
GO
ALTER TABLE [dbo].[ApprovalHistory]  WITH CHECK ADD  CONSTRAINT [FK_ApprovalHistory_JobPostings] FOREIGN KEY([JobId])
REFERENCES [dbo].[JobPostings] ([JobID])
GO
ALTER TABLE [dbo].[ApprovalHistory] CHECK CONSTRAINT [FK_ApprovalHistory_JobPostings]
GO
ALTER TABLE [dbo].[CompanyEvaluations]  WITH CHECK ADD  CONSTRAINT [FK_CompanyEvaluations_Internships] FOREIGN KEY([InternshipID])
REFERENCES [dbo].[Internships] ([InternshipId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CompanyEvaluations] CHECK CONSTRAINT [FK_CompanyEvaluations_Internships]
GO
ALTER TABLE [dbo].[CompanyLegalBases]  WITH CHECK ADD  CONSTRAINT [FK_CompanyLegalBases_Company] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Companies] ([CompanyID])
GO
ALTER TABLE [dbo].[CompanyLegalBases] CHECK CONSTRAINT [FK_CompanyLegalBases_Company]
GO
ALTER TABLE [dbo].[CompanyLegalBases]  WITH CHECK ADD  CONSTRAINT [FK_CompanyLegalBases_Legal] FOREIGN KEY([LegalID])
REFERENCES [dbo].[LegalBases] ([LegalID])
GO
ALTER TABLE [dbo].[CompanyLegalBases] CHECK CONSTRAINT [FK_CompanyLegalBases_Legal]
GO
ALTER TABLE [dbo].[InternshipLegalBases]  WITH CHECK ADD  CONSTRAINT [FK_InternshipLegalBases_Internship] FOREIGN KEY([InternshipID])
REFERENCES [dbo].[Internships] ([InternshipId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InternshipLegalBases] CHECK CONSTRAINT [FK_InternshipLegalBases_Internship]
GO
ALTER TABLE [dbo].[InternshipLegalBases]  WITH CHECK ADD  CONSTRAINT [FK_InternshipLegalBases_Legal] FOREIGN KEY([LegalID])
REFERENCES [dbo].[LegalBases] ([LegalID])
GO
ALTER TABLE [dbo].[InternshipLegalBases] CHECK CONSTRAINT [FK_InternshipLegalBases_Legal]
GO
ALTER TABLE [dbo].[Internships]  WITH CHECK ADD  CONSTRAINT [FK_Internships_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([CompanyID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Internships] CHECK CONSTRAINT [FK_Internships_Companies_CompanyId]
GO
ALTER TABLE [dbo].[Internships]  WITH CHECK ADD  CONSTRAINT [FK_Internships_Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Internships] CHECK CONSTRAINT [FK_Internships_Students_StudentId]
GO
ALTER TABLE [dbo].[Internships]  WITH CHECK ADD  CONSTRAINT [FK_Internships_Supervisors_SupervisorId] FOREIGN KEY([SupervisorId])
REFERENCES [dbo].[Supervisors] ([SupervisorId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Internships] CHECK CONSTRAINT [FK_Internships_Supervisors_SupervisorId]
GO
ALTER TABLE [dbo].[Interviews]  WITH CHECK ADD  CONSTRAINT [FK__Interview__Appli__6A30C649] FOREIGN KEY([ApplicationID])
REFERENCES [dbo].[Applications] ([ApplicationID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Interviews] CHECK CONSTRAINT [FK__Interview__Appli__6A30C649]
GO
ALTER TABLE [dbo].[JobPostingLegalBases]  WITH CHECK ADD  CONSTRAINT [FK_JobPostingLegalBases_Job] FOREIGN KEY([JobID])
REFERENCES [dbo].[JobPostings] ([JobID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JobPostingLegalBases] CHECK CONSTRAINT [FK_JobPostingLegalBases_Job]
GO
ALTER TABLE [dbo].[JobPostingLegalBases]  WITH CHECK ADD  CONSTRAINT [FK_JobPostingLegalBases_Legal] FOREIGN KEY([LegalID])
REFERENCES [dbo].[LegalBases] ([LegalID])
GO
ALTER TABLE [dbo].[JobPostingLegalBases] CHECK CONSTRAINT [FK_JobPostingLegalBases_Legal]
GO
ALTER TABLE [dbo].[JobPostings]  WITH CHECK ADD  CONSTRAINT [FK__JobPostin__Compa__5629CD9C] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Companies] ([CompanyID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JobPostings] CHECK CONSTRAINT [FK__JobPostin__Compa__5629CD9C]
GO
ALTER TABLE [dbo].[JobPostings]  WITH CHECK ADD  CONSTRAINT [FK__JobPostin__JobTy__571DF1D5] FOREIGN KEY([JobTypeID])
REFERENCES [dbo].[JobTypes] ([JobTypeID])
GO
ALTER TABLE [dbo].[JobPostings] CHECK CONSTRAINT [FK__JobPostin__JobTy__571DF1D5]
GO
ALTER TABLE [dbo].[JobPostings]  WITH CHECK ADD  CONSTRAINT [FK__JobPostin__Level__5812160E] FOREIGN KEY([LevelID])
REFERENCES [dbo].[ExperienceLevels] ([LevelID])
GO
ALTER TABLE [dbo].[JobPostings] CHECK CONSTRAINT [FK__JobPostin__Level__5812160E]
GO
ALTER TABLE [dbo].[JobPostings]  WITH CHECK ADD  CONSTRAINT [FK__JobPostin__Locat__59063A47] FOREIGN KEY([LocationID])
REFERENCES [dbo].[Locations] ([LocationID])
GO
ALTER TABLE [dbo].[JobPostings] CHECK CONSTRAINT [FK__JobPostin__Locat__59063A47]
GO
ALTER TABLE [dbo].[JobSkills]  WITH CHECK ADD  CONSTRAINT [FK__JobSkills__JobID__5BE2A6F2] FOREIGN KEY([JobID])
REFERENCES [dbo].[JobPostings] ([JobID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JobSkills] CHECK CONSTRAINT [FK__JobSkills__JobID__5BE2A6F2]
GO
ALTER TABLE [dbo].[JobSkills]  WITH CHECK ADD  CONSTRAINT [FK__JobSkills__Skill__5CD6CB2B] FOREIGN KEY([SkillID])
REFERENCES [dbo].[Skills] ([SkillID])
GO
ALTER TABLE [dbo].[JobSkills] CHECK CONSTRAINT [FK__JobSkills__Skill__5CD6CB2B]
GO
ALTER TABLE [dbo].[StudentSkills]  WITH CHECK ADD  CONSTRAINT [FK__StudentSk__Skill__4F7CD00D] FOREIGN KEY([SkillID])
REFERENCES [dbo].[Skills] ([SkillID])
GO
ALTER TABLE [dbo].[StudentSkills] CHECK CONSTRAINT [FK__StudentSk__Skill__4F7CD00D]
GO
ALTER TABLE [dbo].[StudentSkills]  WITH CHECK ADD  CONSTRAINT [FK__StudentSk__Stude__4E88ABD4] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentSkills] CHECK CONSTRAINT [FK__StudentSk__Stude__4E88ABD4]
GO
ALTER TABLE [dbo].[SupervisorEvaluations]  WITH CHECK ADD  CONSTRAINT [FK_SupervisorEvaluations_Internships] FOREIGN KEY([InternshipID])
REFERENCES [dbo].[Internships] ([InternshipId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SupervisorEvaluations] CHECK CONSTRAINT [FK_SupervisorEvaluations_Internships]
GO
ALTER TABLE [dbo].[WeeklyReports]  WITH CHECK ADD  CONSTRAINT [FK_WeeklyReports_Internships_InternshipId] FOREIGN KEY([InternshipId])
REFERENCES [dbo].[Internships] ([InternshipId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WeeklyReports] CHECK CONSTRAINT [FK_WeeklyReports_Internships_InternshipId]
GO
USE [master]
GO
